
@font-face {
    font-family: "Rubber-Biscuit";
    src: url(connection.woff);
}
body {
    background-color: aquamarine;
    background: url(images/ice.jpg);
    background-repeat: no-repeat;
    background-size: 1600px; 
    font-family: "Rubber-Biscuit"
}
h1{
    text-align: center;
}
div.container{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pomodoro-pic{
    width: 250px;
}
#startBtn,
#resumeBtn{
   background-color: rgb(174, 181, 209);
}
#pauseBtn,
#resetBtn{
    background-color: rgb(122,130,148);
}
#pauseBtn,
#startBtn,
#resumeBtn,
#resetBtn{
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: "Rubber-Biscuit";
    transition: transform 0.4s ease-in-out;

}
.buttons{
    margin-left: -2em;
    cursor: pointer;
}
div.timer{
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 80px;
    text-align: center;
    margin-left: .4em;
}
.buttons button:hover{
    transform: scale(1.1);
}
