body {
    background-color: aquamarine;
    background: url(images/ice.jpg);
    background-repeat: no-repeat;
    background-size: 1600px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
    text-align: center;
}
#timer{
    font-size: 80px;
    text-align: center;
}
div.container{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sailor-cat{
    width: 250px;
}